<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="grizzle_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="rotation 10">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rotation 10']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rotation 11">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rotation 11']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rotation 12">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rotation 12']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rotation 13">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rotation 13']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rotation 6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rotation 6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rotation 7">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rotation 7']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rotation 8">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rotation 8']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rotation 9">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rotation 9']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
